<div class= "main-header">
  <div class= "main-head-room">hogefuga</div>
  <div class= "main-chat-btn">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class= "main-center">
  <div class= "message">
    <div class= "message-user">
      Tom
    </div>
    <div class= "message-date">
      2020/3/21(Wed)  12:43:30
    </div>
  </div>
  <div class= "message-content">
    おはよう
  </div>
  <div class= "message">
    <div class= "message-user">
      Tom
    </div>
    <div class= "message-date">
      2020/3/21(Wed) 12:47:30
    </div>
  </div>
  <div class= "message-content">
    こんにちは
  </div>
</div>
<div class= "main-footer">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>